	<h2>User info</h2>


	<% if flash[:info] %>
		<p><%= flash[:info] %></p>
	<% else flash[:notice] %>
		<p><%= flash[:notice] %></p>
	<% end %>
	<%= attachment_image_tag user, :profile_image,:fill, 60, 60, format: 'jpeg',class: "img-circle pull-left profile-img", fallback:"no_image.jpg" %>
	<table>
		<table class="table table-striped　style">
				<colgroup span="2"></colgroup>
			<tr>
				<th>name</th>
				<td><%= user.name %></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>introduction</th>
				<td><%= user.introduction %></td>
			</tr>
		</tbody>
	</table>
	<% if user.id == current_user.id %>
	<% end %>